<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="mx_eightselect_admin_title">
        <MAINMENU id="mx_eightselect_admin_common">
            <SUBMENU id="mx_eightselect_admin_attribute" cl="eightselect_admin_attribute">
                <TAB id="tbcl_eightselect_admin_attribute_main" cl="eightselect_admin_attribute_main" />
            </SUBMENU>
            <SUBMENU id="mx_eightselect_admin_export" cl="eightselect_admin_export" list="eightselect_admin_export_do">
                <TAB id="tbcl_eightselect_admin_export_main" cl="eightselect_admin_export_main" />
            </SUBMENU>
        </MAINMENU>
        <MAINMENU name="mx_eightselect_console" url="https://console.8select.io/" target="_blank" />
    </OXMENU>
</OX>